body {
  padding-left:30px ;
  font-family: cursive;
  background: grey;
}

input{
  background: green;
  border-radius: 8px blue;
  color: red;
  padding: 8px;
}

.card-grid {
  display: flex;
  flex-flow: row wrap;
}

.card {
  align-content: center ;
  background: #ED4C67;
  border:2px solid red;
  border-radius: 20px;
  box-shadow: 4px 4px 5px;
  margin-top: 10px;
  margin-right: 30px;
  width: 40%;
  height: 50%;
  overflow: hidden;
}

.card p {
  text-align: center;
  color:#192a56;
  font-weight: bolder;
}

.card img{
  border:1px solid #9980FA;
  box-shadow: 4px 4px 5px;
  margin-left: 45px;
  width: 200px;
  height: 200px;
}

